<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hoi An Go Customer.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>57</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>91B00F3631D57B8FB92B2D22E771100FD18EB40D</string>
				<key>dateExpires</key>
				<string>7/6/27</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91B00F3631D57B8FB92B2D22E771100FD18EB40D</string>
						<key>dateExpires</key>
						<string>7/6/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>463UH3R8SD</string>
						<key>name</key>
						<string>COSEVCO - HOI AN JOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91B00F3631D57B8FB92B2D22E771100FD18EB40D</string>
						<key>dateExpires</key>
						<string>7/6/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAnalytics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>463UH3R8SD</string>
						<key>name</key>
						<string>COSEVCO - HOI AN JOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>12.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91B00F3631D57B8FB92B2D22E771100FD18EB40D</string>
						<key>dateExpires</key>
						<string>7/6/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>463UH3R8SD</string>
						<key>name</key>
						<string>COSEVCO - HOI AN JOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>3.6.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91B00F3631D57B8FB92B2D22E771100FD18EB40D</string>
						<key>dateExpires</key>
						<string>7/6/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleAdsOnDeviceConversion.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>463UH3R8SD</string>
						<key>name</key>
						<string>COSEVCO - HOI AN JOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>3.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91B00F3631D57B8FB92B2D22E771100FD18EB40D</string>
						<key>dateExpires</key>
						<string>7/6/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleAppMeasurement.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>463UH3R8SD</string>
						<key>name</key>
						<string>COSEVCO - HOI AN JOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>12.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91B00F3631D57B8FB92B2D22E771100FD18EB40D</string>
						<key>dateExpires</key>
						<string>7/6/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleAppMeasurementIdentitySupport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>463UH3R8SD</string>
						<key>name</key>
						<string>COSEVCO - HOI AN JOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>12.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91B00F3631D57B8FB92B2D22E771100FD18EB40D</string>
						<key>dateExpires</key>
						<string>7/6/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftTryCatch.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>463UH3R8SD</string>
						<key>name</key>
						<string>COSEVCO - HOI AN JOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91B00F3631D57B8FB92B2D22E771100FD18EB40D</string>
						<key>dateExpires</key>
						<string>7/6/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_dynamic_icon_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>463UH3R8SD</string>
						<key>name</key>
						<string>COSEVCO - HOI AN JOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91B00F3631D57B8FB92B2D22E771100FD18EB40D</string>
						<key>dateExpires</key>
						<string>7/6/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_keyboard_visibility.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>463UH3R8SD</string>
						<key>name</key>
						<string>COSEVCO - HOI AN JOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91B00F3631D57B8FB92B2D22E771100FD18EB40D</string>
						<key>dateExpires</key>
						<string>7/6/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>fluttertoast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>463UH3R8SD</string>
						<key>name</key>
						<string>COSEVCO - HOI AN JOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91B00F3631D57B8FB92B2D22E771100FD18EB40D</string>
						<key>dateExpires</key>
						<string>7/6/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>restart_app.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>463UH3R8SD</string>
						<key>name</key>
						<string>COSEVCO - HOI AN JOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>463UH3R8SD.com.hoiango.partner</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>463UH3R8SD</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>6458bc8c-efae-4f2f-9c6b-23c8bb8b2180</string>
				<key>dateExpires</key>
				<string>7/6/27</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.hoiango.partner</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>463UH3R8SD</string>
				<key>name</key>
				<string>COSEVCO - HOI AN JOINT STOCK COMPANY</string>
			</dict>
			<key>versionNumber</key>
			<string>2.1.7</string>
		</dict>
	</array>
</dict>
</plist>
