<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Operator App.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>5</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>91B00F3631D57B8FB92B2D22E771100FD18EB40D</string>
				<key>dateExpires</key>
				<string>7/6/27</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91B00F3631D57B8FB92B2D22E771100FD18EB40D</string>
						<key>dateExpires</key>
						<string>7/6/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>463UH3R8SD</string>
						<key>name</key>
						<string>COSEVCO - HOI AN JOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91B00F3631D57B8FB92B2D22E771100FD18EB40D</string>
						<key>dateExpires</key>
						<string>7/6/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>463UH3R8SD</string>
						<key>name</key>
						<string>COSEVCO - HOI AN JOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91B00F3631D57B8FB92B2D22E771100FD18EB40D</string>
						<key>dateExpires</key>
						<string>7/6/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OrderedSet.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>463UH3R8SD</string>
						<key>name</key>
						<string>COSEVCO - HOI AN JOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91B00F3631D57B8FB92B2D22E771100FD18EB40D</string>
						<key>dateExpires</key>
						<string>7/6/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>device_info_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>463UH3R8SD</string>
						<key>name</key>
						<string>COSEVCO - HOI AN JOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91B00F3631D57B8FB92B2D22E771100FD18EB40D</string>
						<key>dateExpires</key>
						<string>7/6/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_inappwebview_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>463UH3R8SD</string>
						<key>name</key>
						<string>COSEVCO - HOI AN JOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91B00F3631D57B8FB92B2D22E771100FD18EB40D</string>
						<key>dateExpires</key>
						<string>7/6/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_local_notifications.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>463UH3R8SD</string>
						<key>name</key>
						<string>COSEVCO - HOI AN JOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91B00F3631D57B8FB92B2D22E771100FD18EB40D</string>
						<key>dateExpires</key>
						<string>7/6/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>fluttertoast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>463UH3R8SD</string>
						<key>name</key>
						<string>COSEVCO - HOI AN JOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91B00F3631D57B8FB92B2D22E771100FD18EB40D</string>
						<key>dateExpires</key>
						<string>7/6/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>geolocator_apple.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>463UH3R8SD</string>
						<key>name</key>
						<string>COSEVCO - HOI AN JOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91B00F3631D57B8FB92B2D22E771100FD18EB40D</string>
						<key>dateExpires</key>
						<string>7/6/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>objective_c.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>463UH3R8SD</string>
						<key>name</key>
						<string>COSEVCO - HOI AN JOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91B00F3631D57B8FB92B2D22E771100FD18EB40D</string>
						<key>dateExpires</key>
						<string>7/6/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>package_info_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>463UH3R8SD</string>
						<key>name</key>
						<string>COSEVCO - HOI AN JOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>0.4.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91B00F3631D57B8FB92B2D22E771100FD18EB40D</string>
						<key>dateExpires</key>
						<string>7/6/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>restart_app.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>463UH3R8SD</string>
						<key>name</key>
						<string>COSEVCO - HOI AN JOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>1.8.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91B00F3631D57B8FB92B2D22E771100FD18EB40D</string>
						<key>dateExpires</key>
						<string>7/6/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>463UH3R8SD</string>
						<key>name</key>
						<string>COSEVCO - HOI AN JOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91B00F3631D57B8FB92B2D22E771100FD18EB40D</string>
						<key>dateExpires</key>
						<string>7/6/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>463UH3R8SD</string>
						<key>name</key>
						<string>COSEVCO - HOI AN JOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91B00F3631D57B8FB92B2D22E771100FD18EB40D</string>
						<key>dateExpires</key>
						<string>7/6/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>webview_flutter_wkwebview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>463UH3R8SD</string>
						<key>name</key>
						<string>COSEVCO - HOI AN JOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>463UH3R8SD.com.hoiango.operator-mobile</string>
				<key>com.apple.developer.team-identifier</key>
				<string>463UH3R8SD</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>8e377aaf-a643-418f-b168-2450c90781ca</string>
				<key>dateExpires</key>
				<string>7/6/27</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.hoiango.operator-mobile</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>463UH3R8SD</string>
				<key>name</key>
				<string>COSEVCO - HOI AN JOINT STOCK COMPANY</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.1</string>
		</dict>
	</array>
</dict>
</plist>
