<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hoi An Shuttle Bus.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>122</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>91B00F3631D57B8FB92B2D22E771100FD18EB40D</string>
				<key>dateExpires</key>
				<string>7/6/27</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91B00F3631D57B8FB92B2D22E771100FD18EB40D</string>
						<key>dateExpires</key>
						<string>7/6/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>463UH3R8SD</string>
						<key>name</key>
						<string>COSEVCO - HOI AN JOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91B00F3631D57B8FB92B2D22E771100FD18EB40D</string>
						<key>dateExpires</key>
						<string>7/6/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAnalytics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>463UH3R8SD</string>
						<key>name</key>
						<string>COSEVCO - HOI AN JOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>12.14.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91B00F3631D57B8FB92B2D22E771100FD18EB40D</string>
						<key>dateExpires</key>
						<string>7/6/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>463UH3R8SD</string>
						<key>name</key>
						<string>COSEVCO - HOI AN JOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>3.6.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91B00F3631D57B8FB92B2D22E771100FD18EB40D</string>
						<key>dateExpires</key>
						<string>7/6/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleAdsOnDeviceConversion.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>463UH3R8SD</string>
						<key>name</key>
						<string>COSEVCO - HOI AN JOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>3.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91B00F3631D57B8FB92B2D22E771100FD18EB40D</string>
						<key>dateExpires</key>
						<string>7/6/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleAppMeasurement.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>463UH3R8SD</string>
						<key>name</key>
						<string>COSEVCO - HOI AN JOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>12.14.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91B00F3631D57B8FB92B2D22E771100FD18EB40D</string>
						<key>dateExpires</key>
						<string>7/6/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleAppMeasurementIdentitySupport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>463UH3R8SD</string>
						<key>name</key>
						<string>COSEVCO - HOI AN JOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>12.14.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91B00F3631D57B8FB92B2D22E771100FD18EB40D</string>
						<key>dateExpires</key>
						<string>7/6/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SoundModeManager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>463UH3R8SD</string>
						<key>name</key>
						<string>COSEVCO - HOI AN JOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91B00F3631D57B8FB92B2D22E771100FD18EB40D</string>
						<key>dateExpires</key>
						<string>7/6/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftTryCatch.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>463UH3R8SD</string>
						<key>name</key>
						<string>COSEVCO - HOI AN JOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91B00F3631D57B8FB92B2D22E771100FD18EB40D</string>
						<key>dateExpires</key>
						<string>7/6/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>device_sound_mode.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>463UH3R8SD</string>
						<key>name</key>
						<string>COSEVCO - HOI AN JOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91B00F3631D57B8FB92B2D22E771100FD18EB40D</string>
						<key>dateExpires</key>
						<string>7/6/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_dynamic_icon_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>463UH3R8SD</string>
						<key>name</key>
						<string>COSEVCO - HOI AN JOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91B00F3631D57B8FB92B2D22E771100FD18EB40D</string>
						<key>dateExpires</key>
						<string>7/6/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_keyboard_visibility.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>463UH3R8SD</string>
						<key>name</key>
						<string>COSEVCO - HOI AN JOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91B00F3631D57B8FB92B2D22E771100FD18EB40D</string>
						<key>dateExpires</key>
						<string>7/6/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>objective_c.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>463UH3R8SD</string>
						<key>name</key>
						<string>COSEVCO - HOI AN JOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>91B00F3631D57B8FB92B2D22E771100FD18EB40D</string>
						<key>dateExpires</key>
						<string>7/6/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>463UH3R8SD.com.driverhoiango.HoiAnGoWidget</string>
						<key>com.apple.developer.team-identifier</key>
						<string>463UH3R8SD</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.com.driverhoiango</string>
						</array>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>HoiAnGoWidgetExtension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>6e0298a2-558a-46bc-b763-e5d74bd15619</string>
						<key>dateExpires</key>
						<string>7/6/27</string>
						<key>name</key>
						<string>iOS Team Ad Hoc Provisioning Profile: com.driverhoiango.HoiAnGoWidget</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>463UH3R8SD</string>
						<key>name</key>
						<string>COSEVCO - HOI AN JOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.3</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>463UH3R8SD.com.driverhoiango</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.authentication-services.autofill-credential-provider</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>463UH3R8SD</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.com.driverhoiango</string>
				</array>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>7909f60e-50a0-4452-be69-779864c76f66</string>
				<key>dateExpires</key>
				<string>7/6/27</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.driverhoiango</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>463UH3R8SD</string>
				<key>name</key>
				<string>COSEVCO - HOI AN JOINT STOCK COMPANY</string>
			</dict>
			<key>versionNumber</key>
			<string>1.2.7</string>
		</dict>
	</array>
</dict>
</plist>
